@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../fonts/Pretendard-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Pretendard-Bold';
    src: url('../fonts/Pretendard-Bold.ttf') format('truetype');
  }
  

.codi-container{
    padding: 30px;
    background-color: #EEEDEC;
    margin-top: 40px;
    
}

.codi-container p {
    font-size: 20px;
    color: #393225;
    font-weight: bold;
}

.avatar-codi img{
    margin-bottom: 10px;
    border-radius: 5px;
}

.avatars {
    padding: 30px;
    background-color: #EEEDEC;
    border-radius: 10px;
}

.avatar-container{
    margin-bottom: 30px;
    font-family: Pretendard-Bold;
    min-height: 700px;
}

.avatar-codi {
    display: flex;
}

.avatar-info{
    margin-left: 7px;
}

.avatar-info p {
    color :#393225;
    font-weight: bold;
}

.avatar-ex {
    padding: 12px;
    border-radius: 10px;
    width: 220px;
    height: 133px;
    border: solid 2px #EEEDEC;
}

.avatar-type {
    display: flex;
    gap: 30px;
    text-align: center;
    margin-left: 7px;
}

.avatar-type button{
    border: none;
    font-family: Pretendard-Bold;
}