
.search-container{
  display: flex;
  margin-bottom: 30px;
  margin-left: 25px;
}
  
.MuiBox-root css-1dehfy1{
  display: flex;
}

.css-i9gxme{
  display: contents;
}
  
element.style {
  display: contents;
}

.button{
  border: none;
  background-color: white;
}

.board-container span{
  margin-left: 20px;
}
.board-container {
  display: flex;
}
.board-container button{
  margin-left: 320px;
  border: none;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 각 열의 너비를 자동으로 조절합니다 */
  grid-gap: 10px; 
}

.my-masonry-grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left:-5px ;
  width: auto;
}
.my-masonry-grid_column{
  padding-left: 10px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 8px;
}

.masonry-content{
  border-radius: 10px;
}
.masonry-content:hover {
  filter: brightness(0.5);
}

.masonry button{
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 430px;
  margin-bottom: 20px;
}


.detail-container img{
  width: 400px;
}
.detail-container {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* 이미지보다 위에 렌더링됨 */
}

.image-container {
  position: relative; /* 이미지는 아이콘 위에 렌더링되므로 위치를 상대적으로 설정 */
}

.detail-container img {
  width: 100%;
  height: auto;
}

.userIdcont{
  display: flex;
  align-items: center;
  gap: 10px;
}

.update-container{
  text-align: center;
  margin-bottom: 40px;
}
.update-container button{
  padding: 15px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.faq-container {
  padding: 10px;
}
