/*header css*/

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../fonts/Pretendard-Bold.ttf') format('truetype');
}


.header-container {
  display: flex;
  font-family: 'Pretendard-Bold';
  position: relative;
}

.navigation-links {
  margin-top: 16px;
  margin-left: 15px;
}

.navigation-links a {
  margin-left: 30px;
  margin-right: 13px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.user-links {
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 5px;
}

.user-links a {
  color: black;
  text-decoration: none;
}

.divider {
  width: 10px;
  height: 15px;
  margin: 5px;
  color: lightslategray;
}

/*footer css*/
.footer-container {
  background-color: black;
  padding: 20px;
  text-align: center;
}