.header-container{
    display: flex;
}
.navigation-links{
    margin-top: 16px;
    margin-left: 10px;
}
.navigation-links a {
    color: black; /* 원하는 hover 시의 색상으로 변경 */
    text-decoration: none;
  }
.user-links{
    margin-top: 15px;
    margin-left: 50px;
}
.user-links a{
    color: black;
    text-decoration: none;
}

.divider {
    width: 10px;
    height: 15px;
    margin: 5px; /* 원하는 여백 값으로 변경 */
  }
  
