
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../fonts/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../fonts/Pretendard-Bold.ttf') format('truetype');
}

.previewImg img {
    width: 430px;
    border-radius: 8px;
}
.previewImg{
    text-align: center;
}
.uploadImg{
    text-align: center;
}
.uploadImg input[type='file'] {
    display: none; 
  }
  
  .uploadImg label {
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }
  .upload-container{
    margin-bottom: 50px;
    font-family: Pretendard-Medium;
    text-align: center;
  }
  .result-container{
    text-align: center;
    font-family: Pretendard-Bold;
  }
  .result {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: #333;
  }
  .result-container button{
    background-color: black;
    color: white;
    padding: 10px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Pretendard-Bold;
  }

  .upload-btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    margin-top: 30px;
    font-family: Pretendard-Bold;
  }

  .type-container{
    padding: 20px;
    font-family: Pretendard-Bold;
  }

  .gender-container{
    margin-bottom: 20px;
    gap: 10px;
    display: flex;
  }

  .gender-container button{
    background : none;
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 5px;

  }

  .type-container span{
    font-weight: 'bold';
    margin-left: '150px';
  }
  
  .type-container button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    background-color: black;
    color: white;
  }

  .type-input {
    margin-top: 20px;
    background-color: #F7F7F7;
    padding: 20px;
    text-align: center;
    border-radius : 20px;
  }

  .upload-container {
    min-height: 720px;
  }